<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 title">
      <h2>Employee List:</h2>
    </div>
  </div>
  <table class="table">
    <tbody id="employees">
    </tbody>
  </table>
</div>
