<div class="container-fluid employee-table">
  <div class="row">
    <div class="col-sm-12 title">
      <h2>Employee List:</h2>
    </div>
  </div>
  <!-- Use two tables so header remains in place while data is scrollable -->
  <table class="table headers">
    <thead>
      <tr>
        <th class="employee_id">ID</th>
        <th class="birth_date">Birth Date</th>
        <th class="first_name">First Name</th>
        <th class="last_name">Last Name</th>
        <th class="gender">Gender</th>
        <th class="hire_date">Hire Date</th>
      </tr>
    </thead>
  </table>
  <div id="table-wrapper">
    <div id="table-scroll">
      <table class="table table-striped data">
        <tbody id="employees">

        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">

</script>
